1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040C04E4"
    BEGIN
      VALUE "CompanyName", "hah"
      VALUE "FileDescription", "Projet L2"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "bloody_sanada"
      VALUE "LegalCopyright", "Bloody Sanada"
      VALUE "OriginalFilename", "jeux.exe"
      VALUE "ProductName", "Bloody Sanada"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x040C, 1252
  END
END